*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  color: white;
}

#app {
  background-color: #121212;
}

button {
  cursor: pointer;
  text-align: left;
  background-color: unset;
}
